:root {
  --bs-body-line-height: 100%;
}

* {
  box-sizing: initial;
}

.card_banner01 {
  margin: 200px 0;
}
.card_banner {
  width:100%
}

.banner_img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}


.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 50px;


}
.main_title {
  font-weight: bold;
  font-size: 27px;
  color: rgb(70, 70, 70);
  padding: 200px 0 15px 0;
  
}

.sub_title {
  font-size: 20px;
  color: rgb(151, 151, 151);  
}


.product_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
  max-width: 1280px;
  margin: 0 auto;

}


html {
  scroll-behavior: smooth;
}

